{% extends 'auth_app/base-auth.html' %}
{% load i18n %}


{% block content %}
    <div class="header">
        <h3 class="sign-in">{% trans 'Password recovery (2/2)' %}</h3>
        <h5>{% trans 'Set a new password to your account' %}</h5>
    </div>

    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.new_password1 }}
        </div>
        <div>
            {{ form.new_password2 }}
        </div>
        <div>
            <input type="submit" value="{% trans 'Save password' %}" />
        </div>
    </form>
{% endblock content %}