{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% block content_body %}
    <style>
    .cache-update { 
     padding: 40px; 
    }
    </style>
    <div class="cache-update">
        <form action="" method="post">
            <h1>{% trans "Edit cache value" %} ( {{ key }} )</h1>
            {{ form.value }}
            <button class="btn btn_primary btn_lg" type="submit">
                {% trans "Save" %}
                {% csrf_token %}
            </button>
        </form>
    </div>
{% endblock content_body %}
